body{
    margin: 0;
    text-align: justify;
}
figure img{
    width: 100%;
}
header nav ul li, header nav ul h2 {
    display: inline;
    margin: 75px;
}
ul{
    margin-top: 0;
    margin-bottom: 0;
}
header nav{
    background: #F0F0F0;
}
section{
    margin-left: 20%;
    margin-right: 30%;
}
figure{
    margin: 0;
}
aside{
    position: absolute;
    background: orange;
    top: 20%;
    left: 75%;
    right: 20%;

    width: 20%;
    height: 60%;

    overflow-y: scroll;
    padding: 10px;
}